
<div class="container">
    <div class="image-main">
        <img src="../assets/Img/pexels-li-sun-2294361.jpg" alt="imagen">
        <h1>Pulsaciones</h1>
        <p>Conoce todo sobre tu ritmo cardiaco</p>
    </div>
    <div class="text">
        <h2>¿ Que es Una Pulsacion ?</h2>
        <p>Cuando se habla del pulso nos referimos al número de latidos por minuto del corazón, que son las veces que se contrae éste durante ese periodo. En más de una ocasión te habrás preguntado cuántas pulsaciones hay que tener en reposo. La cifra adecuada ronda entre las 50 y 100 por minuto, pero hay una serie de factores que puedan modificar este número.
        </p>
    </div>
</div>